In [246]:
import pandas as pd
import numpy as np
import pandas_datareader as web

In [247]:
def fetch_financial_data(company='AMZN',data_source='stooq'):
    return web.DataReader(company,data_source)

In [248]:
dict = {'AAPL':'apple',
        'AMZN':'amazon',
        'GOOGL':'google',
        'UBER':'uber'

}
for company in dict.keys():
    globals()[company] = fetch_financial_data(company)
    globals()[company].columns = [company + "_" + globals()[company].columns]

In [249]:
dict.values()

dict_values(['apple', 'amazon', 'google', 'uber'])

In [250]:
#konkatencja tabel
df = pd.concat(objs=[AAPL,AMZN,GOOGL,UBER], axis=1)

In [251]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
AAPL_Open,1258.00,134.64,42.66,47.54,113.09,144.21,169.87,214.74
AAPL_High,1258.00,136.16,42.98,48.18,114.48,146.14,171.48,220.20
AAPL_Low,1258.00,133.25,42.35,46.85,111.30,142.76,168.52,211.60
AAPL_Close,1258.00,134.77,42.68,47.03,113.40,144.57,169.74,214.24
AAPL_Volume,1258.00,97384902.64,53242879.63,24048344.00,62670215.77,83719754.13,114185638.01,434708544.96
AMZN_Open,1258.00,135.61,31.28,82.08,103.58,139.90,162.87,189.16
AMZN_High,1258.00,137.24,31.48,83.48,105.15,141.51,164.75,191.70
AMZN_Low,1258.00,133.86,31.00,81.30,101.87,137.59,161.03,187.44
AMZN_Close,1258.00,135.57,31.21,81.82,103.65,139.33,163.08,189.50
AMZN_Volume,1258.00,71039309.34,32969582.66,17626740.00,49762429.75,62397470.00,83501055.00,311345660.00
GOOGL_Open,1258.00,106.96,30.88,52.82,76.66,107.95,134.03,178.25
GOOGL_High,1258.00,108.18,31.12,53.35,78.04,110.06,135.56,180.41
GOOGL_Low,1258.00,105.82,30.61,50.44,75.87,106.78,132.52,176.11
GOOGL_Close,1258.00,107.04,30.88,52.71,76.80,108.40,134.14,177.85
GOOGL_Volume,1258.00,33285403.67,14543196.33,9312760.00,24059432.75,29567410.00,37358865.00,123199220.00
UBER_Open,1258.00,41.24,13.44,15.96,31.16,37.94,47.93,81.94
UBER_High,1258.00,42.02,13.53,17.80,31.80,38.63,48.82,82.14
UBER_Low,1258.00,40.43,13.30,13.71,30.47,37.10,47.26,80.79
UBER_Close,1258.00,41.23,13.41,14.82,31.18,37.83,48.04,81.39
UBER_Volume,1258.00,24803547.16,17683628.10,3380003.00,15754203.25,20847003.00,28883886.50,364261230.00

In [252]:
df.corr()

,AAPL_Open,AAPL_High,AAPL_Low,AAPL_Close,AAPL_Volume,AMZN_Open,AMZN_High,AMZN_Low,AMZN_Close,AMZN_Volume,GOOGL_Open,GOOGL_High,GOOGL_Low,GOOGL_Close,GOOGL_Volume,UBER_Open,UBER_High,UBER_Low,UBER_Close,UBER_Volume
AAPL_Open,1.00,1.00,1.00,1.00,-0.53,0.51,0.52,0.51,0.51,-0.32,0.88,0.89,0.88,0.88,-0.13,0.41,0.41,0.42,0.41,0.04
AAPL_High,1.00,1.00,1.00,1.00,-0.52,0.51,0.52,0.51,0.51,-0.31,0.88,0.89,0.88,0.88,-0.13,0.40,0.41,0.41,0.41,0.05
AAPL_Low,1.00,1.00,1.00,1.00,-0.54,0.51,0.52,0.51,0.51,-0.33,0.89,0.89,0.88,0.89,-0.14,0.41,0.41,0.42,0.42,0.04
AAPL_Close,1.00,1.00,1.00,1.00,-0.53,0.51,0.51,0.51,0.51,-0.32,0.88,0.89,0.88,0.88,-0.14,0.41,0.41,0.41,0.41,0.04
AAPL_Volume,-0.53,-0.52,-0.54,-0.53,1.00,-0.14,-0.14,-0.15,-0.15,0.62,-0.51,-0.51,-0.52,-0.51,0.45,-0.31,-0.30,-0.32,-0.31,0.20
AMZN_Open,0.51,0.51,0.51,0.51,-0.14,1.00,1.00,1.00,1.00,-0.16,0.67,0.67,0.68,0.67,-0.14,0.66,0.67,0.66,0.66,-0.05
AMZN_High,0.52,0.52,0.52,0.51,-0.14,1.00,1.00,1.00,1.00,-0.14,0.68,0.67,0.68,0.67,-0.13,0.66,0.66,0.65,0.66,-0.05
AMZN_Low,0.51,0.51,0.51,0.51,-0.15,1.00,1.00,1.00,1.00,-0.17,0.67,0.67,0.68,0.67,-0.15,0.67,0.67,0.67,0.67,-0.06
AMZN_Close,0.51,0.51,0.51,0.51,-0.15,1.00,1.00,1.00,1.00,-0.16,0.67,0.67,0.68,0.67,-0.15,0.66,0.67,0.66,0.66,-0.05
AMZN_Volume,-0.32,-0.31,-0.33,-0.32,0.62,-0.16,-0.14,-0.17,-0.16,1.00,-0.37,-0.36,-0.38,-0.37,0.56,-0.36,-0.35,-0.37,-0.36,0.23
GOOGL_Open,0.88,0.88,0.89,0.88,-0.51,0.67,0.68,0.67,0.67,-0.37,1.00,1.00,1.00,1.00,-0.19,0.55,0.56,0.56,0.56,0.01
GOOGL_High,0.89,0.89,0.89,0.89,-0.51,0.67,0.67,0.67,0.67,-0.36,1.00,1.00,1.00,1.00,-0.18,0.55,0.55,0.55,0.55,0.02
GOOGL_Low,0.88,0.88,0.88,0.88,-0.52,0.68,0.68,0.68,0.68,-0.38,1.00,1.00,1.00,1.00,-0.20,0.56,0.56,0.56,0.56,0.01
GOOGL_Close,0.88,0.88,0.89,0.88,-0.51,0.67,0.67,0.67,0.67,-0.37,1.00,1.00,1.00,1.00,-0.19,0.56,0.56,0.56,0.56,0.01
GOOGL_Volume,-0.13,-0.13,-0.14,-0.14,0.45,-0.14,-0.13,-0.15,-0.15,0.56,-0.19,-0.18,-0.20,-0.19,1.00,-0.18,-0.18,-0.19,-0.18,0.24
UBER_Open,0.41,0.40,0.41,0.41,-0.31,0.66,0.66,0.67,0.66,-0.36,0.55,0.55,0.56,0.56,-0.18,1.00,1.00,1.00,1.00,-0.15
UBER_High,0.41,0.41,0.41,0.41,-0.30,0.67,0.66,0.67,0.67,-0.35,0.56,0.55,0.56,0.56,-0.18,1.00,1.00,1.00,1.00,-0.14
UBER_Low,0.42,0.41,0.42,0.41,-0.32,0.66,0.65,0.67,0.66,-0.37,0.56,0.55,0.56,0.56,-0.19,1.00,1.00,1.00,1.00,-0.16
UBER_Close,0.41,0.41,0.42,0.41,-0.31,0.66,0.66,0.67,0.66,-0.36,0.56,0.55,0.56,0.56,-0.18,1.00,1.00,1.00,1.00,-0.15
UBER_Volume,0.04,0.05,0.04,0.04,0.20,-0.05,-0.05,-0.06,-0.05,0.23,0.01,0.02,0.01,0.01,0.24,-0.15,-0.14,-0.16,-0.15,1.00

In [253]:
change_col = 'Close'
change_col2 = ['Close','Volume']
len(change_col2)

2

In [254]:
change_col = ['Close','Volume']
df_tmp = pd.DataFrame()
for i in dict.keys():
      for col in change_col:
        df_tmp[i + "_" + col] = df[i + "_" + col]
df_tmp

,AAPL_Close,AAPL_Volume,AMZN_Close,AMZN_Volume,GOOGL_Close,GOOGL_Volume,UBER_Close,UBER_Volume
Date,,,,,,,,
2024-06-14,212.49,70122748.00,183.66,25456410,176.79,18063555,70.06,11601130
2024-06-13,214.24,97862729.00,183.83,39721545,175.16,20913299,70.86,17109442
2024-06-12,213.07,198134293.00,186.89,33984216,177.79,27864737,73.15,24435503
2024-06-11,207.15,172373296.00,187.23,27265108,176.62,21540582,69.59,12741160
2024-06-10,193.12,97262077.00,187.06,34494498,175.01,23779218,68.60,19168881
...,...,...,...,...,...,...,...,...
2019-06-24,48.31,74900402.52,95.69,45659380,55.84,24237860,43.09,5985052
2019-06-21,48.36,196498386.51,95.56,78671520,56.27,50777440,44.00,4973987
2019-06-20,48.52,88439578.32,95.91,64343060,55.66,24018160,43.86,9567367
2019-06-19,48.13,86837381.14,95.44,57906940,55.23,26720300,44.86,10331520
2019-06-18,48.28,109145719.42,95.07,77914560,55.26,34526240,43.86,7313602

In [255]:
df_tmp.corr()

,AAPL_Close,AAPL_Volume,AMZN_Close,AMZN_Volume,GOOGL_Close,GOOGL_Volume,UBER_Close,UBER_Volume
AAPL_Close,1.00,-0.53,0.51,-0.32,0.88,-0.14,0.41,0.04
AAPL_Volume,-0.53,1.00,-0.15,0.62,-0.51,0.45,-0.31,0.20
AMZN_Close,0.51,-0.15,1.00,-0.16,0.67,-0.15,0.66,-0.05
AMZN_Volume,-0.32,0.62,-0.16,1.00,-0.37,0.56,-0.36,0.23
GOOGL_Close,0.88,-0.51,0.67,-0.37,1.00,-0.19,0.56,0.01
GOOGL_Volume,-0.14,0.45,-0.15,0.56,-0.19,1.00,-0.18,0.24
UBER_Close,0.41,-0.31,0.66,-0.36,0.56,-0.18,1.00,-0.15
UBER_Volume,0.04,0.20,-0.05,0.23,0.01,0.24,-0.15,1.00

<h1>APPEND

In [257]:
UBER.head()

           UBER_Open UBER_High UBER_Low UBER_Close UBER_Volume
Date
2024-06-14     70.91     71.00    69.32      70.06    11601130
2024-06-13     73.16     73.16    70.24      70.86    17109442
2024-06-12     71.31     73.60    71.00      73.15    24435503
2024-06-11     68.60     69.60    67.76      69.59    12741160
2024-06-10     69.28     69.69    66.56      68.60    19168881

In [258]:
uber_6 = UBER[UBER.index.month == 6]
uber_6

           UBER_Open UBER_High UBER_Low UBER_Close UBER_Volume
Date
2024-06-14     70.91     71.00    69.32      70.06    11601130
2024-06-13     73.16     73.16    70.24      70.86    17109442
2024-06-12     71.31     73.60    71.00      73.15    24435503
2024-06-11     68.60     69.60    67.76      69.59    12741160
2024-06-10     69.28     69.69    66.56      68.60    19168881
...              ...       ...      ...        ...         ...
2019-06-24     44.00     44.07    42.82      43.09     5985052
2019-06-21     43.85     44.14    43.38      44.00     4973987
2019-06-20     45.03     45.29    43.51      43.86     9567367
2019-06-19     44.46     45.50    43.95      44.86    10331520
2019-06-18     44.30     44.89    43.75      43.86     7313602

[105 rows x 5 columns]

In [259]:
uber_7 = UBER[UBER.index.month == 7]
uber_7

           UBER_Open UBER_High UBER_Low UBER_Close UBER_Volume
Date
2023-07-31     48.85     49.49    48.15      49.46    38736789
2023-07-28     47.14     48.43    46.71      48.14    17154631
2023-07-27     48.00     48.09    46.35      46.61    17991953
2023-07-26     47.05     47.55    46.62      47.31    16666161
2023-07-25     47.20     47.73    46.93      47.17    14188200
...              ...       ...      ...        ...         ...
2019-07-08     43.59     43.85    42.75      42.95     9304101
2019-07-05     44.31     44.55    43.01      43.53     8239452
2019-07-03     44.00     44.46    43.79      44.23     3380003
2019-07-02     44.55     44.68    43.75      44.00    11881274
2019-07-01     46.98     47.04    44.06      44.27    17739998

[105 rows x 5 columns]

In [261]:
uber_6._append(uber_7)

           UBER_Open UBER_High UBER_Low UBER_Close UBER_Volume
Date
2024-06-14     70.91     71.00    69.32      70.06    11601130
2024-06-13     73.16     73.16    70.24      70.86    17109442
2024-06-12     71.31     73.60    71.00      73.15    24435503
2024-06-11     68.60     69.60    67.76      69.59    12741160
2024-06-10     69.28     69.69    66.56      68.60    19168881
...              ...       ...      ...        ...         ...
2019-07-08     43.59     43.85    42.75      42.95     9304101
2019-07-05     44.31     44.55    43.01      43.53     8239452
2019-07-03     44.00     44.46    43.79      44.23     3380003
2019-07-02     44.55     44.68    43.75      44.00    11881274
2019-07-01     46.98     47.04    44.06      44.27    17739998

[210 rows x 5 columns]

In [ ]:
pd.DataFrame.appe